# URL base da API de back-end.
# Se omitido o protocolo, o api.ts assume "https://" automaticamente.
# Se a variável não for definida, o api.ts utiliza a URL de homologação como fallback.
REACT_APP_URL_API=homolog-api.seudominio.com
